nav {
  width: 100%;
  padding: 119px 0px 40px 0px;

  h1 {
    color: #fff;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
}
